h1 {
	color: yellow;
	text-align: center;
}

.Game-Title {
	font-family: Georgia;
	font-size: 96px;
}

body {
	clear: both;
	background-repeat: no-repeat;
	background: #485a7d;
}

h2 {
	font-family: Georgia;
	color: white;
}

#battlespace {
	position: relative;
	left: 25%;
}

.jedi {
	display: inline-block;
	margin: 10px 10px 10px 10px;	
}

.sith {
	display: inline-block;
	margin: 10px 10px 10px 10px;
}

.jedi:hover {
	opacity: 0.5;
}

.sith:hover {
	opacity: 0.5;
}

