h1 {
	color: yellow;
	text-align: center;
}

.Game-Title {
	font-family: Georgia;
	font-size: 96px;
}

body {
	clear: both;
	background: #485a7d;
}

h2 {
	font-family: Georgia;
	color: white;
}

#player-battlespace, #opponent-battlespace {
	height: 500px;
	padding: 20px;
}

#battlespace {
	position: relative;
	height: auto;
	margin: 25px;
	border: solid 3px #72c3ea;
	border-radius: 10px;
}

.mana-points {
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 0;

}

#character-index {
	border: solid 3px #72c3ea;
	border-radius: 10px;
	height: auto;
	margin: 25px;
	position: block;
}

.jedi, .sith {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin: 10px 10px 10px 10px;	
}

.jedi:hover {
	opacity: 0.5;
}

.sith:hover {
	opacity: 0.5;
}

#text-container, .button-container {
	border: solid 3px #72c3ea;
	border-radius: 10px;
	text-align: center;
	margin: 25px;
	height: 250px;
}

button, .opponent_button {
	background: none;
	border: 1px #72c3ea;
	margin: 20px;
	color: #fff;
	outline: none;
	box-shadow: none;
}

button:hover {
	opacity: 0.7;
}

#text {
	margin: 25px;
	color: white;
}

